{
  "openapi": "3.1.0",
  "info": {
    "title": "PreFlight Release Gate API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.usepreflight.xyz"
    }
  ],
  "paths": {
    "/livez": {
      "get": {
        "responses": {
          "200": {
            "description": "Process is live"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "responses": {
          "200": {
            "description": "Dependencies are ready"
          },
          "503": {
            "description": "Not ready"
          }
        }
      }
    },
    "/api/v1/service": {
      "get": {
        "responses": {
          "200": {
            "description": "Service metadata"
          }
        }
      }
    },
    "/api/v1/contracts/verify-release-request/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "Canonical verify_release request JSON Schema. Minimal generic-buyer body: {\"endpoint\":\"https://public-service.example/path\"}."
          }
        }
      }
    },
    "/api/v1/contracts/release-manifest/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "Frozen Release Manifest JSON Schema"
          }
        }
      }
    },
    "/api/v1/contracts/discovery/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "Frozen Discovery JSON Schema"
          }
        }
      }
    },
    "/api/v1/contracts/run-events/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "Frozen Run Events JSON Schema"
          }
        }
      }
    },
    "/api/v1/contracts/machine-report/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "Frozen Machine Report JSON Schema"
          }
        }
      }
    },
    "/api/v1/discover": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "endpoint"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discovery-first proposed manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponseV1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/release-manifests/draft": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseManifestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validated draft; never a verdict"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/verify-release": {
      "get": {
        "responses": {
          "402": {
            "description": "x402 v2 challenge for OKX tooling probes",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 16
            },
            "description": "Optional. When absent PreFlight derives replay-safe idempotency from the verified payment authorization and canonical request."
          },
          {
            "in": "header",
            "name": "PAYMENT-SIGNATURE",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyReleaseRequestV1"
              },
              "examples": {
                "canonical": {
                  "value": {
                    "endpoint": "https://public-service.example/path"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement-confirmed judge-facing v2 report; `detail` retains the v1 private report shape.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyReleaseResponseV2"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "description": "x402 v2 challenge emitted before business-body validation",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/resolve": {
      "post": {
        "responses": {
          "200": {
            "description": "Authenticated OnchainOS CLI listing resolution with field provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResolutionV1"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/verify-receipt": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "receipt_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public cryptographic receipt verification. This verifies issuer authenticity and payload integrity, not target correctness."
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Public cryptographic receipt verification for JSON clients. This verifies issuer authenticity and payload integrity, not target correctness."
          }
        }
      }
    },
    "/api/v1/cohort": {
      "get": {
        "responses": {
          "200": {
            "description": "Public free-discovery cohort aggregate; only conforming ASPs are named."
          }
        }
      }
    },
    "/api/v1/passport/{agent_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Public owner-authorized scoped passport"
          },
          "404": {
            "description": "No passport issued"
          }
        }
      }
    },
    "/api/v1/reports/{report_id}": {
      "get": {
        "security": [
          {
            "bearerCapability": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private report"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/reports/{report_id}/receipt": {
      "post": {
        "security": [
          {
            "bearerCapability": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Idempotently minted signed receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptEnvelopeV1"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/receipts/{receipt_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "receipt_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public signed receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptEnvelopeV1"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/pubkeys": {
      "get": {
        "responses": {
          "200": {
            "description": "Active and retired receipt verification public keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PubkeysResponseV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{report_id}/badge": {
      "post": {
        "security": [
          {
            "bearerCapability": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badge URL for RELEASE report"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/badge/{report_id}.svg": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private RELEASE badge SVG"
          },
          "404": {
            "description": "Unavailable"
          },
          "409": {
            "description": "Expired due to drift"
          }
        }
      }
    },
    "/api/v1/gallery": {
      "get": {
        "responses": {
          "200": {
            "description": "Public redacted BLOCK/UNKNOWN gallery",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GalleryResponseV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/runs/{run_id}/events": {
      "get": {
        "security": [
          {
            "bearerCapability": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "run_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private ordered run-stage events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStatusV1"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/reports/{report_id}/machine": {
      "get": {
        "security": [
          {
            "bearerCapability": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private machine-readable report for agents and CI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineReportV1"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReleaseManifestV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.release-manifest.v1"
          },
          "release": {
            "type": "object",
            "properties": {
              "service_name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "release_version": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              }
            },
            "required": [
              "service_name"
            ],
            "additionalProperties": false
          },
          "target": {
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "const": "POST"
              },
              "interface_mode": {
                "type": "string",
                "enum": [
                  "FREE_HTTP",
                  "X402_HTTP",
                  "MCP_PLUS_FREE_HTTP",
                  "MCP_PLUS_X402_HTTP"
                ]
              },
              "mcp_url": {
                "type": "string",
                "format": "uri"
              },
              "redirect_policy": {
                "type": "string",
                "enum": [
                  "NONE",
                  "SAME_ORIGIN"
                ]
              }
            },
            "required": [
              "endpoint",
              "method",
              "interface_mode"
            ],
            "additionalProperties": false
          },
          "payment": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "const": "FREE"
                  }
                },
                "required": [
                  "mode"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "const": "X402"
                  },
                  "network": {
                    "type": "string",
                    "minLength": 1
                  },
                  "asset": {
                    "type": "string",
                    "minLength": 1
                  },
                  "amount_atomic": {
                    "type": "string",
                    "pattern": "^\\d+$"
                  },
                  "pay_to": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$"
                  }
                },
                "required": [
                  "mode",
                  "network",
                  "asset",
                  "amount_atomic",
                  "pay_to"
                ],
                "additionalProperties": false
              }
            ]
          },
          "request_contract": {
            "type": "object",
            "properties": {
              "content_type": {
                "type": "string",
                "const": "application/json"
              },
              "schema": {
                "$ref": "#/$defs/__schema0"
              }
            },
            "required": [
              "content_type",
              "schema"
            ],
            "additionalProperties": false
          },
          "response_contract": {
            "type": "object",
            "properties": {
              "required": {
                "type": "boolean"
              },
              "schema": {
                "$ref": "#/$defs/__schema0"
              },
              "observable_via": {
                "type": "string",
                "enum": [
                  "MCP_OUTPUT_SCHEMA",
                  "FREE_RESPONSE"
                ]
              }
            },
            "required": [
              "required",
              "schema",
              "observable_via"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "schema_version",
          "release",
          "target",
          "payment"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "object",
                  "array",
                  "string",
                  "number",
                  "integer",
                  "boolean",
                  "null"
                ]
              },
              "description": {
                "type": "string",
                "maxLength": 2000
              },
              "properties": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              "required": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "items": {
                "$ref": "#/$defs/__schema0"
              },
              "enum": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema1"
                }
              },
              "const": {
                "$ref": "#/$defs/__schema1"
              },
              "additionalProperties": {
                "type": "boolean"
              },
              "minLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "maxLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minimum": {
                "type": "number"
              },
              "maximum": {
                "type": "number"
              }
            },
            "additionalProperties": false
          },
          "__schema1": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema1"
                }
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema1"
                }
              }
            ]
          }
        }
      },
      "VerifyReleaseRequestV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://api.usepreflight.xyz/api/v1/contracts/verify-release-request/v1",
        "title": "PreFlight verify_release request",
        "description": "Canonical public input for PreFlight Release Gate. Generic buyers only need endpoint. schema_version is optional and defaults internally to preflight.verify-release-request.v1.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.verify-release-request.v1",
            "description": "Optional; defaults internally when omitted."
          },
          "endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Canonical target field. Must be a public HTTPS service endpoint, for example https://public-service.example/path."
          },
          "agent_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Optional alternative to endpoint: resolve an OKX.AI Agent ID and verify its A2MCP service."
          },
          "manifest": {
            "description": "Advanced operator-confirmed manifest request. Use endpoint for generic buyer integrations.",
            "$ref": "#/$defs/releaseManifestV1"
          },
          "expected": {
            "description": "Optional caller expectations compared against observed release behavior."
          },
          "probe_input": {
            "description": "Optional JSON payload used only for discovery/probe requests."
          },
          "authorize_buyer_proof": {
            "type": "boolean",
            "description": "Optional; defaults to false. When true, PreFlight may make a bounded outbound buyer-proof payment to the target."
          },
          "owner_attestation": {
            "type": "boolean",
            "description": "Required and must be true only when authorize_buyer_proof is true."
          },
          "include_in_gallery": {
            "type": "boolean",
            "description": "Optional; defaults to false. Opts BLOCK/UNKNOWN redacted results into the public gallery."
          }
        },
        "oneOf": [
          {
            "required": [
              "endpoint"
            ],
            "not": {
              "anyOf": [
                {
                  "required": [
                    "agent_id"
                  ]
                },
                {
                  "required": [
                    "manifest"
                  ]
                }
              ]
            }
          },
          {
            "required": [
              "agent_id"
            ],
            "not": {
              "anyOf": [
                {
                  "required": [
                    "endpoint"
                  ]
                },
                {
                  "required": [
                    "manifest"
                  ]
                }
              ]
            }
          },
          {
            "required": [
              "manifest"
            ],
            "not": {
              "anyOf": [
                {
                  "required": [
                    "endpoint"
                  ]
                },
                {
                  "required": [
                    "agent_id"
                  ]
                }
              ]
            }
          }
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "authorize_buyer_proof": {
                  "const": true
                }
              },
              "required": [
                "authorize_buyer_proof"
              ]
            },
            "then": {
              "properties": {
                "owner_attestation": {
                  "const": true
                }
              },
              "required": [
                "owner_attestation"
              ]
            }
          }
        ],
        "examples": [
          {
            "endpoint": "https://public-service.example/path"
          }
        ],
        "$defs": {
          "releaseManifestV1": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "type": "object",
            "properties": {
              "schema_version": {
                "type": "string",
                "const": "preflight.release-manifest.v1"
              },
              "release": {
                "type": "object",
                "properties": {
                  "service_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "release_version": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  }
                },
                "required": [
                  "service_name"
                ],
                "additionalProperties": false
              },
              "target": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri"
                  },
                  "method": {
                    "type": "string",
                    "const": "POST"
                  },
                  "interface_mode": {
                    "type": "string",
                    "enum": [
                      "FREE_HTTP",
                      "X402_HTTP",
                      "MCP_PLUS_FREE_HTTP",
                      "MCP_PLUS_X402_HTTP"
                    ]
                  },
                  "mcp_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "redirect_policy": {
                    "type": "string",
                    "enum": [
                      "NONE",
                      "SAME_ORIGIN"
                    ]
                  }
                },
                "required": [
                  "endpoint",
                  "method",
                  "interface_mode"
                ],
                "additionalProperties": false
              },
              "payment": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "const": "FREE"
                      }
                    },
                    "required": [
                      "mode"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "const": "X402"
                      },
                      "network": {
                        "type": "string",
                        "minLength": 1
                      },
                      "asset": {
                        "type": "string",
                        "minLength": 1
                      },
                      "amount_atomic": {
                        "type": "string",
                        "pattern": "^\\d+$"
                      },
                      "pay_to": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$"
                      }
                    },
                    "required": [
                      "mode",
                      "network",
                      "asset",
                      "amount_atomic",
                      "pay_to"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "request_contract": {
                "type": "object",
                "properties": {
                  "content_type": {
                    "type": "string",
                    "const": "application/json"
                  },
                  "schema": {
                    "$ref": "#/$defs/__schema0"
                  }
                },
                "required": [
                  "content_type",
                  "schema"
                ],
                "additionalProperties": false
              },
              "response_contract": {
                "type": "object",
                "properties": {
                  "required": {
                    "type": "boolean"
                  },
                  "schema": {
                    "$ref": "#/$defs/__schema0"
                  },
                  "observable_via": {
                    "type": "string",
                    "enum": [
                      "MCP_OUTPUT_SCHEMA",
                      "FREE_RESPONSE"
                    ]
                  }
                },
                "required": [
                  "required",
                  "schema",
                  "observable_via"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "schema_version",
              "release",
              "target",
              "payment"
            ],
            "additionalProperties": false,
            "$defs": {
              "__schema0": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "object",
                      "array",
                      "string",
                      "number",
                      "integer",
                      "boolean",
                      "null"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2000
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "$ref": "#/$defs/__schema0"
                    }
                  },
                  "required": {
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "items": {
                    "$ref": "#/$defs/__schema0"
                  },
                  "enum": {
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/__schema1"
                    }
                  },
                  "const": {
                    "$ref": "#/$defs/__schema1"
                  },
                  "additionalProperties": {
                    "type": "boolean"
                  },
                  "minLength": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "maxLength": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "minimum": {
                    "type": "number"
                  },
                  "maximum": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              },
              "__schema1": {
                "anyOf": [
                  {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/__schema1"
                    }
                  },
                  {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "$ref": "#/$defs/__schema1"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "DiscoveryResponseV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.discovery.v1"
          },
          "endpoint": {
            "type": "string",
            "format": "uri"
          },
          "observed_surface": {
            "type": "object",
            "properties": {
              "transport": {
                "$ref": "#/$defs/__schema0"
              },
              "mcp": {
                "$ref": "#/$defs/__schema0"
              },
              "x402": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "parse_error": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "accepts": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "scheme": {
                              "type": "string"
                            },
                            "network": {
                              "type": "string"
                            },
                            "asset": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "string"
                            },
                            "payTo": {
                              "type": "string"
                            },
                            "maxTimeoutSeconds": {
                              "type": "number"
                            },
                            "extra": {
                              "$ref": "#/$defs/__schema0"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "parse_error",
                  "accepts"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "x402"
            ],
            "additionalProperties": false
          },
          "proposed_manifest": {
            "type": "object",
            "properties": {
              "manifest": {
                "type": "object",
                "properties": {
                  "schema_version": {
                    "type": "string",
                    "const": "preflight.release-manifest.v1"
                  },
                  "release": {
                    "type": "object",
                    "properties": {
                      "service_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "release_version": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      }
                    },
                    "required": [
                      "service_name"
                    ],
                    "additionalProperties": false
                  },
                  "target": {
                    "type": "object",
                    "properties": {
                      "endpoint": {
                        "type": "string",
                        "format": "uri"
                      },
                      "method": {
                        "type": "string",
                        "const": "POST"
                      },
                      "interface_mode": {
                        "type": "string",
                        "enum": [
                          "FREE_HTTP",
                          "X402_HTTP",
                          "MCP_PLUS_FREE_HTTP",
                          "MCP_PLUS_X402_HTTP"
                        ]
                      },
                      "mcp_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "redirect_policy": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "SAME_ORIGIN"
                        ]
                      }
                    },
                    "required": [
                      "endpoint",
                      "method",
                      "interface_mode"
                    ],
                    "additionalProperties": false
                  },
                  "payment": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "const": "FREE"
                          }
                        },
                        "required": [
                          "mode"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "const": "X402"
                          },
                          "network": {
                            "type": "string",
                            "minLength": 1
                          },
                          "asset": {
                            "type": "string",
                            "minLength": 1
                          },
                          "amount_atomic": {
                            "type": "string",
                            "pattern": "^\\d+$"
                          },
                          "pay_to": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$"
                          }
                        },
                        "required": [
                          "mode",
                          "network",
                          "asset",
                          "amount_atomic",
                          "pay_to"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "request_contract": {
                    "type": "object",
                    "properties": {
                      "content_type": {
                        "type": "string",
                        "const": "application/json"
                      },
                      "schema": {
                        "$ref": "#/$defs/__schema1"
                      }
                    },
                    "required": [
                      "content_type",
                      "schema"
                    ],
                    "additionalProperties": false
                  },
                  "response_contract": {
                    "type": "object",
                    "properties": {
                      "required": {
                        "type": "boolean"
                      },
                      "schema": {
                        "$ref": "#/$defs/__schema1"
                      },
                      "observable_via": {
                        "type": "string",
                        "enum": [
                          "MCP_OUTPUT_SCHEMA",
                          "FREE_RESPONSE"
                        ]
                      }
                    },
                    "required": [
                      "required",
                      "schema",
                      "observable_via"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "schema_version",
                  "release",
                  "target",
                  "payment"
                ],
                "additionalProperties": false
              },
              "fields": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "$ref": "#/$defs/__schema0"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "listing",
                        "runtime",
                        "mcp_schema",
                        "x402_challenge",
                        "operator",
                        "inferred"
                      ]
                    },
                    "confidence": {
                      "type": "string",
                      "enum": [
                        "observed",
                        "inferred",
                        "unknown"
                      ]
                    },
                    "requires_confirmation": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "source",
                    "confidence",
                    "requires_confirmation"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "fields"
            ],
            "additionalProperties": false
          },
          "evidence_refs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "source": {
                  "type": "string",
                  "minLength": 1
                },
                "captured_at": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "digest": {
                  "type": "string",
                  "pattern": "^sha256:[a-f0-9]{64}$"
                },
                "summary": {
                  "type": "string",
                  "minLength": 1
                },
                "freshness_seconds": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              },
              "required": [
                "id",
                "source",
                "captured_at",
                "digest",
                "summary",
                "freshness_seconds"
              ],
              "additionalProperties": false
            }
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "schema_version",
          "endpoint",
          "observed_surface",
          "proposed_manifest",
          "evidence_refs",
          "generated_at"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema0"
                }
              }
            ]
          },
          "__schema1": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "object",
                  "array",
                  "string",
                  "number",
                  "integer",
                  "boolean",
                  "null"
                ]
              },
              "description": {
                "type": "string",
                "maxLength": 2000
              },
              "properties": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema1"
                }
              },
              "required": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "items": {
                "$ref": "#/$defs/__schema1"
              },
              "enum": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              "const": {
                "$ref": "#/$defs/__schema0"
              },
              "additionalProperties": {
                "type": "boolean"
              },
              "minLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "maxLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minimum": {
                "type": "number"
              },
              "maximum": {
                "type": "number"
              }
            },
            "additionalProperties": false
          }
        }
      },
      "RunStatusV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.run-status.v1"
          },
          "run_id": {
            "type": "string",
            "minLength": 16
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stage": {
                  "type": "string",
                  "enum": [
                    "reachable",
                    "mcp_discovered",
                    "challenge_parsed",
                    "surface_reconstructed",
                    "intent_reconciled",
                    "decision_sealed",
                    "authorized",
                    "paid",
                    "settled",
                    "replayed",
                    "delivered"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "active",
                    "match",
                    "contradiction",
                    "unknown",
                    "na"
                  ]
                },
                "observed_value": {
                  "$ref": "#/$defs/__schema0"
                },
                "evidence_ref": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              },
              "required": [
                "stage",
                "status",
                "timestamp"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "schema_version",
          "run_id",
          "events"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema0"
                }
              }
            ]
          }
        }
      },
      "MachineReportV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.machine-report.v1.1"
          },
          "report_id": {
            "type": "string",
            "minLength": 16
          },
          "decision": {
            "type": "string",
            "enum": [
              "RELEASE",
              "BLOCK",
              "UNKNOWN"
            ]
          },
          "blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "minLength": 1
                },
                "group": {
                  "type": "string",
                  "minLength": 1
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "MATCH",
                    "CONTRADICTION",
                    "UNKNOWN",
                    "NOT_APPLICABLE"
                  ]
                },
                "mandatory": {
                  "type": "boolean"
                },
                "expected": {
                  "$ref": "#/$defs/__schema0"
                },
                "observed": {
                  "$ref": "#/$defs/__schema0"
                },
                "provenance": {
                  "minItems": 1,
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "OPERATOR_SUPPLIED",
                      "OBSERVED",
                      "DERIVED",
                      "UNAVAILABLE"
                    ]
                  }
                },
                "comparison_rule": {
                  "type": "string",
                  "minLength": 1
                },
                "consequence": {
                  "type": "string",
                  "minLength": 1
                },
                "remediation": {
                  "type": "string",
                  "minLength": 1
                },
                "evidence_refs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "source": {
                        "type": "string",
                        "minLength": 1
                      },
                      "captured_at": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      "digest": {
                        "type": "string",
                        "pattern": "^sha256:[a-f0-9]{64}$"
                      },
                      "summary": {
                        "type": "string",
                        "minLength": 1
                      },
                      "freshness_seconds": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      }
                    },
                    "required": [
                      "id",
                      "source",
                      "captured_at",
                      "digest",
                      "summary",
                      "freshness_seconds"
                    ],
                    "additionalProperties": false
                  }
                },
                "limitation": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "code",
                "group",
                "state",
                "mandatory",
                "provenance",
                "comparison_rule",
                "evidence_refs"
              ],
              "additionalProperties": false
            }
          },
          "criteria": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "minLength": 1
                },
                "group": {
                  "type": "string",
                  "minLength": 1
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "MATCH",
                    "CONTRADICTION",
                    "UNKNOWN",
                    "NOT_APPLICABLE"
                  ]
                },
                "mandatory": {
                  "type": "boolean"
                },
                "expected": {
                  "$ref": "#/$defs/__schema0"
                },
                "observed": {
                  "$ref": "#/$defs/__schema0"
                },
                "provenance": {
                  "minItems": 1,
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "OPERATOR_SUPPLIED",
                      "OBSERVED",
                      "DERIVED",
                      "UNAVAILABLE"
                    ]
                  }
                },
                "comparison_rule": {
                  "type": "string",
                  "minLength": 1
                },
                "consequence": {
                  "type": "string",
                  "minLength": 1
                },
                "remediation": {
                  "type": "string",
                  "minLength": 1
                },
                "evidence_refs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "source": {
                        "type": "string",
                        "minLength": 1
                      },
                      "captured_at": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      "digest": {
                        "type": "string",
                        "pattern": "^sha256:[a-f0-9]{64}$"
                      },
                      "summary": {
                        "type": "string",
                        "minLength": 1
                      },
                      "freshness_seconds": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      }
                    },
                    "required": [
                      "id",
                      "source",
                      "captured_at",
                      "digest",
                      "summary",
                      "freshness_seconds"
                    ],
                    "additionalProperties": false
                  }
                },
                "limitation": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "code",
                "group",
                "state",
                "mandatory",
                "provenance",
                "comparison_rule",
                "evidence_refs"
              ],
              "additionalProperties": false
            }
          },
          "evidence_refs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "source": {
                  "type": "string",
                  "minLength": 1
                },
                "captured_at": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "digest": {
                  "type": "string",
                  "pattern": "^sha256:[a-f0-9]{64}$"
                },
                "summary": {
                  "type": "string",
                  "minLength": 1
                },
                "freshness_seconds": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                }
              },
              "required": [
                "id",
                "source",
                "captured_at",
                "digest",
                "summary",
                "freshness_seconds"
              ],
              "additionalProperties": false
            }
          },
          "remediations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "minLength": 1
                },
                "remediation": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "code",
                "remediation"
              ],
              "additionalProperties": false
            }
          },
          "hashes": {
            "type": "object",
            "properties": {
              "manifest_hash": {
                "type": "string",
                "pattern": "^sha256:[a-f0-9]{64}$"
              },
              "snapshot_hash": {
                "type": "string",
                "pattern": "^sha256:[a-f0-9]{64}$"
              }
            },
            "required": [
              "manifest_hash",
              "snapshot_hash"
            ],
            "additionalProperties": false
          },
          "policy_version": {
            "type": "string",
            "minLength": 1
          },
          "receipt_id": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^rcpt_[a-f0-9]{32}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "receipt_signature": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "badge_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "chain_anchor_tx": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{64}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "exit_code": {
            "anyOf": [
              {
                "type": "number",
                "const": 0
              },
              {
                "type": "number",
                "const": 1
              },
              {
                "type": "number",
                "const": 2
              },
              {
                "type": "number",
                "const": 3
              }
            ]
          }
        },
        "required": [
          "schema_version",
          "report_id",
          "decision",
          "blockers",
          "criteria",
          "evidence_refs",
          "remediations",
          "hashes",
          "policy_version",
          "receipt_id",
          "receipt_signature",
          "badge_url",
          "chain_anchor_tx",
          "exit_code"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema0"
                }
              }
            ]
          }
        }
      },
      "VerifyReleaseResponseV1": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.release-report.v1"
          },
          "report_id": {
            "type": "string",
            "minLength": 16
          },
          "decision": {
            "type": "string",
            "enum": [
              "RELEASE",
              "BLOCK",
              "UNKNOWN"
            ]
          },
          "manifest": {
            "type": "object",
            "properties": {
              "schema_version": {
                "type": "string"
              },
              "manifest_hash": {
                "type": "string",
                "pattern": "^sha256:[a-f0-9]{64}$"
              },
              "canonical_manifest": {
                "type": "object",
                "properties": {
                  "schema_version": {
                    "type": "string",
                    "const": "preflight.release-manifest.v1"
                  },
                  "release": {
                    "type": "object",
                    "properties": {
                      "service_name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "release_version": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      }
                    },
                    "required": [
                      "service_name"
                    ],
                    "additionalProperties": false
                  },
                  "target": {
                    "type": "object",
                    "properties": {
                      "endpoint": {
                        "type": "string",
                        "format": "uri"
                      },
                      "method": {
                        "type": "string",
                        "const": "POST"
                      },
                      "interface_mode": {
                        "type": "string",
                        "enum": [
                          "FREE_HTTP",
                          "X402_HTTP",
                          "MCP_PLUS_FREE_HTTP",
                          "MCP_PLUS_X402_HTTP"
                        ]
                      },
                      "mcp_url": {
                        "type": "string",
                        "format": "uri"
                      },
                      "redirect_policy": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "SAME_ORIGIN"
                        ]
                      }
                    },
                    "required": [
                      "endpoint",
                      "method",
                      "interface_mode"
                    ],
                    "additionalProperties": false
                  },
                  "payment": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "const": "FREE"
                          }
                        },
                        "required": [
                          "mode"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "const": "X402"
                          },
                          "network": {
                            "type": "string",
                            "minLength": 1
                          },
                          "asset": {
                            "type": "string",
                            "minLength": 1
                          },
                          "amount_atomic": {
                            "type": "string",
                            "pattern": "^\\d+$"
                          },
                          "pay_to": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$"
                          }
                        },
                        "required": [
                          "mode",
                          "network",
                          "asset",
                          "amount_atomic",
                          "pay_to"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "request_contract": {
                    "type": "object",
                    "properties": {
                      "content_type": {
                        "type": "string",
                        "const": "application/json"
                      },
                      "schema": {
                        "$ref": "#/$defs/__schema0"
                      }
                    },
                    "required": [
                      "content_type",
                      "schema"
                    ],
                    "additionalProperties": false
                  },
                  "response_contract": {
                    "type": "object",
                    "properties": {
                      "required": {
                        "type": "boolean"
                      },
                      "schema": {
                        "$ref": "#/$defs/__schema0"
                      },
                      "observable_via": {
                        "type": "string",
                        "enum": [
                          "MCP_OUTPUT_SCHEMA",
                          "FREE_RESPONSE"
                        ]
                      }
                    },
                    "required": [
                      "required",
                      "schema",
                      "observable_via"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "schema_version",
                  "release",
                  "target",
                  "payment"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "schema_version",
              "manifest_hash",
              "canonical_manifest"
            ],
            "additionalProperties": false
          },
          "runtime_snapshot": {
            "type": "object",
            "properties": {
              "snapshot_hash": {
                "type": "string",
                "pattern": "^sha256:[a-f0-9]{64}$"
              },
              "captured_at": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              "requested_url": {
                "type": "string",
                "format": "uri"
              },
              "final_url": {
                "type": "string",
                "format": "uri"
              },
              "build_identifier": {
                "type": "string"
              }
            },
            "required": [
              "snapshot_hash",
              "captured_at",
              "requested_url"
            ],
            "additionalProperties": false
          },
          "policy_version": {
            "type": "string",
            "minLength": 1
          },
          "summary": {
            "type": "object",
            "properties": {
              "matched": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "contradictions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "unknown": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "not_applicable": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "matched",
              "contradictions",
              "unknown",
              "not_applicable"
            ],
            "additionalProperties": false
          },
          "criterion_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "minLength": 1
                },
                "label": {
                  "type": "string",
                  "minLength": 1
                },
                "criteria": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "minLength": 1
                      },
                      "group": {
                        "type": "string",
                        "minLength": 1
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "MATCH",
                          "CONTRADICTION",
                          "UNKNOWN",
                          "NOT_APPLICABLE"
                        ]
                      },
                      "mandatory": {
                        "type": "boolean"
                      },
                      "expected": {
                        "$ref": "#/$defs/__schema1"
                      },
                      "observed": {
                        "$ref": "#/$defs/__schema1"
                      },
                      "provenance": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "OPERATOR_SUPPLIED",
                            "OBSERVED",
                            "DERIVED",
                            "UNAVAILABLE"
                          ]
                        }
                      },
                      "comparison_rule": {
                        "type": "string",
                        "minLength": 1
                      },
                      "consequence": {
                        "type": "string",
                        "minLength": 1
                      },
                      "remediation": {
                        "type": "string",
                        "minLength": 1
                      },
                      "evidence_refs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1
                            },
                            "source": {
                              "type": "string",
                              "minLength": 1
                            },
                            "captured_at": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "digest": {
                              "type": "string",
                              "pattern": "^sha256:[a-f0-9]{64}$"
                            },
                            "summary": {
                              "type": "string",
                              "minLength": 1
                            },
                            "freshness_seconds": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "id",
                            "source",
                            "captured_at",
                            "digest",
                            "summary",
                            "freshness_seconds"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "limitation": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "required": [
                      "code",
                      "group",
                      "state",
                      "mandatory",
                      "provenance",
                      "comparison_rule",
                      "evidence_refs"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "code",
                "label",
                "criteria"
              ],
              "additionalProperties": false
            }
          },
          "limitations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "report_expires_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "type": "string",
                "pattern": "^rcpt_[a-f0-9]{32}$"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "preflight.receipt.v1"
                  },
                  "receipt_id": {
                    "type": "string",
                    "pattern": "^rcpt_[a-f0-9]{32}$"
                  },
                  "report_id": {
                    "type": "string",
                    "minLength": 16
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "RELEASE",
                      "BLOCK",
                      "UNKNOWN"
                    ]
                  },
                  "manifest_hash": {
                    "type": "string",
                    "pattern": "^sha256:[a-f0-9]{64}$"
                  },
                  "snapshot_hash": {
                    "type": "string",
                    "pattern": "^sha256:[a-f0-9]{64}$"
                  },
                  "policy_version": {
                    "type": "string",
                    "minLength": 1
                  },
                  "settlement_ref": {
                    "type": "string",
                    "minLength": 1
                  },
                  "payer": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "price_usdt": {
                    "type": "string",
                    "pattern": "^\\d+(?:\\.\\d{1,6})?$"
                  },
                  "target_fingerprint": {
                    "type": "string",
                    "pattern": "^sha256:[a-f0-9]{64}$"
                  },
                  "issued_at": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "key_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "chain_anchor": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "tx": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{64}$"
                          },
                          "contract": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$"
                          }
                        },
                        "required": [
                          "tx",
                          "contract"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "scope": {
                    "type": "object",
                    "properties": {
                      "proves": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "issuer_authenticity",
                            "payload_integrity",
                            "snapshot_binding",
                            "policy_binding"
                          ]
                        }
                      },
                      "does_not_prove": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "semantic_correctness_of_delivery",
                            "future_behaviour",
                            "security_of_target",
                            "marketplace_endorsement"
                          ]
                        }
                      },
                      "policy_version": {
                        "type": "string",
                        "minLength": 1
                      },
                      "snapshot_hash": {
                        "type": "string",
                        "pattern": "^sha256:[a-f0-9]{64}$"
                      },
                      "valid_until": {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      }
                    },
                    "required": [
                      "proves",
                      "does_not_prove",
                      "policy_version",
                      "snapshot_hash",
                      "valid_until"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "receipt_id",
                  "report_id",
                  "decision",
                  "manifest_hash",
                  "snapshot_hash",
                  "policy_version",
                  "settlement_ref",
                  "payer",
                  "price_usdt",
                  "target_fingerprint",
                  "issued_at",
                  "key_id",
                  "chain_anchor"
                ],
                "additionalProperties": false
              },
              "signature": {
                "type": "string",
                "minLength": 32
              },
              "signature_alg": {
                "type": "string",
                "const": "Ed25519"
              },
              "key_id": {
                "type": "string",
                "minLength": 1
              },
              "verify": {
                "type": "object",
                "properties": {
                  "canonicalization": {
                    "type": "string",
                    "const": "preflight.canonical-json.v1"
                  },
                  "payload_hash": {
                    "type": "string",
                    "pattern": "^sha256:[a-f0-9]{64}$"
                  },
                  "pubkeys_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "canonicalization",
                  "payload_hash",
                  "pubkeys_url"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "receipt_id",
              "payload",
              "signature",
              "signature_alg",
              "key_id",
              "verify"
            ],
            "additionalProperties": false
          },
          "badge_url": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "chain_anchor_tx": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{64}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "report_access": {
            "type": "object",
            "properties": {
              "report_url": {
                "type": "string",
                "format": "uri"
              },
              "access_token": {
                "type": "string",
                "minLength": 43
              }
            },
            "required": [
              "report_url",
              "access_token"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "schema_version",
          "report_id",
          "decision",
          "manifest",
          "runtime_snapshot",
          "policy_version",
          "summary",
          "criterion_groups",
          "limitations",
          "generated_at",
          "report_expires_at",
          "report_access"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "object",
                  "array",
                  "string",
                  "number",
                  "integer",
                  "boolean",
                  "null"
                ]
              },
              "description": {
                "type": "string",
                "maxLength": 2000
              },
              "properties": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema0"
                }
              },
              "required": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "items": {
                "$ref": "#/$defs/__schema0"
              },
              "enum": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema1"
                }
              },
              "const": {
                "$ref": "#/$defs/__schema1"
              },
              "additionalProperties": {
                "type": "boolean"
              },
              "minLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "maxLength": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minimum": {
                "type": "number"
              },
              "maximum": {
                "type": "number"
              }
            },
            "additionalProperties": false
          },
          "__schema1": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  },
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/$defs/__schema1"
                }
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "$ref": "#/$defs/__schema1"
                }
              }
            ]
          }
        }
      },
      "VerifyReleaseResponseV2": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "preflight.release-report.v2"
          },
          "decision": {
            "type": "string",
            "enum": [
              "RELEASE",
              "BLOCK",
              "UNKNOWN"
            ]
          },
          "headline": {
            "type": "string",
            "minLength": 1
          },
          "what_this_means": {
            "type": "string",
            "minLength": 1
          },
          "target": {
            "type": "object",
            "properties": {
              "agent_id": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "service_id": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "endpoint": {
                "type": "string",
                "format": "uri"
              },
              "listing_name": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "agent_id",
              "service_id",
              "endpoint",
              "listing_name"
            ],
            "additionalProperties": false
          },
          "summary": {
            "type": "object",
            "properties": {
              "matched": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "blocked": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "unknown": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "not_applicable": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "matched",
              "blocked",
              "unknown",
              "not_applicable",
              "duration_ms"
            ],
            "additionalProperties": false
          },
          "primary_blocker": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "declared": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "observed": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "consequence": {
                    "type": "string"
                  },
                  "exact_fix": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "declared",
                  "observed",
                  "consequence",
                  "exact_fix"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "buyer_proof": {
            "type": "object",
            "properties": {
              "attempted": {
                "type": "boolean"
              },
              "authorized": {
                "type": "boolean"
              },
              "settlement_ref": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "oklink_url": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "delivery_observed": {
                "anyOf": [
                  {
                    "type": "boolean"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "attempted",
              "authorized",
              "settlement_ref",
              "oklink_url",
              "delivery_observed"
            ],
            "additionalProperties": false
          },
          "receipt": {
            "type": "object",
            "properties": {
              "receipt_id": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "signature": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "verify_url": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
[...]
